html {
  padding: 0;
  margin: 0;
  font-family: "Crimson Text", serif;
  background: url(./images/background2) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.content-box {
  margin-top: 25px;
}
.link-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  cursor: default;
  color: #3246a5;
  font-weight: 700;
  border-bottom: 2px solid #00ffff;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #354ca9;
  font-size: 30px;
}
.content a:hover {
  text-decoration: underline;
  color: red;
}
.content a:active {
  text-decoration: none;
}
.content a:visited {
  text-decoration: none;
}

/* a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width: 140px;
  color: #ffffff;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 25px;
}
a.tooltips span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
} */
