html {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: url(./images/background) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
.content-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.contact-header {
  color: white;
  text-align: center;
  font-size: 40px;
  align-self: center;
}
.contact-text-box {
  color: white;
  text-align: center;
  font-size: 15px;
  /* border: 1px solid white; */
}
.contact-text ul {
  list-style: none;
}
.middle {
  /* background: white; */
  align-self: center;
}

