html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: url(./images/background) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
#menu-bar {
  background-color: rgba(255, 255, 255, 0.59) !important;
}
#menu-bar a {
  color: black !important;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15%;
  padding: 10px 20px 0 20px;
  /* border: 2px solid yellow; */
  color: white;
  cursor: default;
}
.content-header {
  border-bottom: 1px solid #6bf8ff;
}
.content-header-2 {
  border-bottom: 1px solid #6bf8ff;
  border-top: 1px solid white;
  padding: 21px 0 0 0;
  margin: 0;
}

.content-area-1 {
  text-align: center;
  /* height: 80vh; */
  border: 1px solid white;
}
.content-area-1-list {
  text-align: left;
  list-style: none;
}

.content-area-2 {
  text-align: center;
  /* height: 80vh; */
  border: 1px solid white;
}
.content-area-2-list {
  text-align: left;
  list-style: none;
}

.content-area-3 {
  text-align: center;
  height: 80vh;
  border: 1px solid white;
}
.content-area-3-list {
  text-align: left;
  list-style: none;
}
